[Unit]
Description=Battery notification daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bat_notify
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
